@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins/_breakpoints";

/*
../ up to level of BottomNav, TourPageLayout & TourSites
../ up to level of TourPage & HomePage
../ up to level of folders TopNav MainContent & Layout 
../ up to level of component folder & App.js 
../ up to level of src folder & node modules folder
*/


.mainContent {
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1,
h2 {
    font-family: 'Fahkwang', sans-serif;
}

.imagesSounds {
    margin-bottom: 20px;
}

/* Pixel ( px ) is not scalable, it is an absolute unit. Change in the value of another element does not affect the value of absolute units. ... Element ( em ) and Root element ( rem ) are responsive units interpreted into equivalent px unit by the browser. */

.siteName {
    font-size: 2.5rem;
}

.featureImage {
    max-height: 100%;
}

.featureImageInfo,
.subtitle {
    font-size: 1.5rem;
}

.imageContainer {
    height: 320px; /* 500px browser size */
    text-align: center;
}
@include media-breakpoint-up(sm) {
    .imageContainer {
        height: 500px;
        text-align: center;
    }
}

.thumbnailImageDiv {
	height: 100px;
	text-align: center;
}

.thumbnailImage {
    max-height: 100%;
}

.thumbnailImage:hover {
    border: 1px solid orange;
    cursor: pointer;
}

.audioControls {
    font-size: x-large;
}

.description {
    margin-top: 20px;
}

.btn {
    background-color: rgb(219, 121, 1);
    margin: 0px 2px;
    border: none;
}

.btn:hover {
	background-color: #5bc0de;
}


// .soundEffects {
//     display: flex;
//     justify-content: space-between;
//     @include media-breakpoint-up(sm) {
//         flex-flow: row wrap;
//     }
// }