.mainContent {
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#map{
    height: 80vh;
    width: 90vh;
    margin: 0 auto;
    background-color: lightgray;
}

#top {
    text-align: center;
    padding-bottom: 20px;
}

#userLocation {
    // height: calc(100vh - 50px);
    margin-top: 75px
}