@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

.navbarTop {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}

.navbarBottom {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbarTop,
.navbarBottom {
    background-color:rgb(219, 121, 1);
    font-size: 1.1em;
    font-weight: 500;
}

.nav-link {
    color: black;
}
