@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

/*
../ up to level of folders TopNav MainContent & Layout 
../ up to level of component folder & App.js 
../ up to level of src folder & node modules folder
*/

.navbarTop {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    
}

.navbarBottom {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbarTop,
.navbarBottom {
    background-color:rgb(219, 121, 1);
}

.nav-link {
    color: black;
}
